<!-- this is a sample default web page template -->

{%  extends "templates/web.html" %}

{% block page_content %}

<div class="py-20 row">
<div class="col-sm-2">
<img alt="{{ title }}" src="{{ image }}"/>
<hr/>
<a class="font-size-lg" href="."> <- Back to list</a>

</div>
<div class="col">
<h1>{{ title }}</h1>
<p class="lead">by {{ author }}</p>
<div>

            {%- if status == 'Available' -%}

            <span class="badge badge-success">Status: Available</span>
            {%- elif status == 'Issued' -%}

            <span class="badge badge-primary">Status: Issued</span>

            {%- endif -%}

            <span> Edition: {{ edition }}</span>
            <span>Cost: Rs.{{ cost }}/-</span>
        </div>
<div class="mt-4">
<div>Publisher: <strong>{{ publisher }}</strong></div>
<div>ISBN: <strong>{{ isbn }}</strong></div>
</div>
<p>{{ description }}</p>
</div>
</div>

{% endblock %}
